*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}
#mc2{
    height: 100%;
    width: 100%;
    background-image: url(https://i.pinimg.com/564x/c0/2c/04/c02c047e3fcea72182c41dfa46332295.jpg);
    background-position: center;
    background-size: cover;
}

#pushkar {
    position: absolute;
    top: 35%;
    left: 35%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 40px;
    font-family: cursive;
}