* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html,
body {
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}
#main #cursor{
    height: 30px;
    width: 30px;
    z-index: 10;

    border-radius: 50%;
    transition: all ease;
    background-color: white;
    font-size: 4px;
    padding: 10px;
    position: fixed;
    mix-blend-mode: difference;

    
}
#loader{
    height: 100%;
    width: 100%;
    background-color: rgb(6, 6, 16);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: all ease 0.5s;
    
    
 }
 #circle{
    height: 200px;
    width: 200px;
    border: 2px solid blue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   position: absolute;
 }
 #circle h1{
    font-size: 25px;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
 }
 
#bg {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#backg {
    right: 0;
    bottom: 0;
    z-index: -1;
}

#main {
    height: 100Vh;
    width: 100%;
    overflow: auto;
}

#page1 {
    height: 100%;
    width: 100%;
    background-color: transparent;
}

#page1 #nav {
    width: 100%;
    height: 15%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: white;
}

#page1 #nav a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

#page1 #nav h6 {
    font-size: 26px;
    font-weight: 400;
}

#page1 #nav #menu {
    padding: 0.5% 1%;
    border-radius: 20px;
    font-weight: 400;
    background-color: rgba(2, 8, 57, 0.491);
}

#page1 h1 {
    margin-top: 2%;
    margin-left: 10%;
    font-family: 'Poppins', sans-serif;
    color: white;
    line-height: 170px;
    width: 45%;
    font-weight: 450;
    font-size: 150px;
}

#page1 button {
    height: 55px;
    width: 150px;
    margin-top: 3%;
    position: relative;
    margin-left: 10%;
    padding: 20px 30px;
    background-color: transparent;
    color: white;
    overflow: hidden;
    z-index: 1;
    font-size: 11px;
    border: 0.5px solid rgb(255, 255, 255);
    border-radius: 30px;
}

button::before {
    content: '';
    margin-top: -20px;
    margin-left: -30px;
    width: 150px;
    height: 0;
    border-radius: 50px;
    position: absolute;
    background-color: rgb(1, 0, 84);
    transition: all .5s ease;
    z-index: -1;
}

button:hover::before {
    bottom: 0;
    height: 100%;
    border-radius: 50px;

}

#page1 #last {
    margin-top: 3%;
    height: 50px;
    width: 100%;
    padding: 0 5%;
    color: white;
    font-weight: 300;
    letter-spacing: 1.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page1 p {
    margin-top: -7%;
    margin-left: 40%;
    z-index: 2;
    width: 20%;
    line-height: 35px;
    color: rgb(145, 145, 145);
}





#page2 {
    height: 100%;
    width: 100%;
    padding: 5% 10%;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

#page2 #tyre {
    overflow: hidden;
    padding: 5%;
    border-radius: 10%;
    color: white;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    background-image: url(./Tyre.jpg);
    background-position: center;
    background-size: cover;
    width: 55%;
}

#page2 #a11 {
    margin-top: 80%;
}

#page2 #a22 {
    margin-top: 80%;
}

#page2 #donkey {
    overflow: hidden;
    padding: 5%;
    color: white;
    border-radius: 10%;
    letter-spacing: 2px;
    font-weight: 400;
    height: 75%;
    width: 40%;
    background-image: url(./Donkey.jpg);
    background-position: center;
    background-size: cover;
}

#page2 button {
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
}

#page3 {
    height: 100%;
    width: 100%;
    padding: 50px 10%;
    display: flex;
    gap: 5%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#page3 #left {
    height: 100%;
    width: 50%;
}

#page3 #left h1 {
    margin-top: 40%;
    line-height: 130px;
    font-size: 120px;
    letter-spacing: -3px;
    font-weight: 500;
    color: white;
}

#page3 #left h5 {
    margin-top: 8%;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.512);
}



#page3 #right {
    height: 100%;
    width: 40%;
    overflow: hidden;
    padding: 5%;
    color: white;
    border-radius: 10%;
    letter-spacing: 2px;
    font-weight: 400;
    background-image: url(./headphone.jpg);
}

#page3 button {
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
}

#page3 #right #a33 {
    margin-top: 140%;
}


#page4 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 10%;
    background-image: linear-gradient(to bottom right, rgba(20, 0, 48, 0.879), rgba(0, 0, 0, 0.936));
}

#page4 #left4 {
    height: 70%;
    width: 40%;
    padding: 5%;
    border-radius: 10%;
    background-image: url(./lady\ cup.jpg);
}

#page4 #right4 {
    height: 90%;
    width: 55%;
    padding: 5%;
    border-radius: 10%;
    background-image: url(./blue\ cup.jpg);
}

#page4 .ll {
    color: white;
    letter-spacing: 2px;
    font-weight: 200;
    background-position: right center;
    background-size: cover;
}

#page4 button {
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
}

#page4 #a44 {
    margin-top: 90%;
}

#page4 #a55 {
    margin-top: 85%;
}

#page4 #right4 h6 {
    font-size: 14px;
}




#page5 {
    height: 100%;
    width: 100%;
    padding: 10%;
    color: white;
    background-color: rgba(0, 0, 0, 0.85);
}

#page5 h1 {
    margin-top: 5%;
    font-size: 130px;
    line-height: 170px;
    font-weight: 400;
}

#page5 h4 {
    font-size: 22px;
    font-weight: 300;
    line-height: 40px;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.55);
}

#page5 h6 {
    margin-top: -5%;
    padding-bottom: 3%;
    font-size: 16px;
    color: blue;
}



#page6 {
    height: 90%;
    width: 100%;
    padding: 7% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.85);
}

#page6 #left {
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#page6 #right {
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

#page6 #left h6 {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: blue;
    font-family: sans-serif;
}

#page6 #left h1 {
    font-size: 120px;
    font-weight: 500;
    color: white;
    line-height: 150px;
}

#page6 #left h5 {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.75);
    font-weight: 400;
    line-height: 40px;
}

#page6 #right #top {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page6 #right #bottom {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page6 #right img {
    height: 100px;
}



#page7 {
    height: 90%;
    width: 100%;
    padding: 10%;
    background-color: rgb(9, 12, 21);
}

#page7 #toop {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page7 #toop h1 {
    font-size: 120px;
    color: white;
    font-weight: 500;
}

#page7 #toop h5 {
    color: white;
    font-size: 24px;
    font-weight: 500;
}

#page7 #toop h6 {
    color: white;
    font-size: 14px;
    font-weight: 400;
}

#page7 #bottomm {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#bottomm #z1 h5 {
    font-size: 26px;
    font-weight: 500;
    color: white;
}

#bottomm #z1 h6 {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    color: white;
}

#bottomm #z2 {
    display: flex;
    flex-direction: column;
}

#bottomm #z2 a {
    margin-top: 10px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

#bottomm #z3 a {
    margin-left: 10px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

#bottomm #z3 {
    text-align: right;
}

#bottomm #z3 h6 {
    font-size: 16px;
    color: white;
    padding-bottom: 30%;
}