* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#main {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

#main #page {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main #page #circle1 {
    top: 50%;
    right: -20%;
    transform: translate(0, -50%);
    position: absolute;
    height: 130vh;
    width: 130vh;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.3);
}

#main #page #circle1 #circle2 {
    top: 50%;
    right: -2%;
    position: absolute;
    transform: translate(0, -50%);
    height: 120vh;
    width: 120vh;
    border-radius: 50%;
    border: 5px solid blue;
}

#main #page #circle1 #circle2 #circle3 {
    top: 50%;
    right: -2%;
    transform: translate(0, -50%);
    position: absolute;
    height: 110vh;
    width: 110vh;
    border-radius: 50%;
    background-color: rgb(28, 79, 233);
}

#main #page #circle1 #circle2 #circle3 #circle4 {
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    position: absolute;
    height: 95vh;
    width: 95vh;
    border-radius: 50%;
    background-color: rgb(60, 60, 228);
}

#card1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin-top: 20%;
    margin-left: -30%;
    border: 0px solid;
    padding: 20px;
    box-shadow: 0px 5px 20px black;
    border-radius: 15px;
    width: 42%;
    height: 20%;
}

#card1 i {
    color: blue;
    font-size: 30px;
}

#card1 h2 {
    font-size: 20px;
}

#card1 p {
    font-size: 14px;
    margin-top: -1px;
    opacity: 0.9;
}

#progress {
    height: 5px;
    width: 90%;
    background-color: #c0c0c0;
    border-radius: 50px;
}

#doneyet {
    height: 5px;
    width: 50%;
    background-color: blue;
    border-radius: 50px;
}





#card2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin-top: 35%;
    margin-left: -10%;
    border: 0px solid;
    padding: 20px;
    box-shadow: 0px 5px 20px black;
    border-radius: 15px;
    width: 45%;
    height: 35%;
    z-index: -1;
}

#card2 p {
    margin-top: -40px;
    font-size: 16px;
    opacity: 0.7;
}

#card2 h2 {
    font-size: 20px;
}

#card2 #c1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -50px;
    padding: 10px;
    width: 100%;
    height: 23%;
    border: 1px solid blue;
    border-radius: 10px;
    background-color: rgba(139, 184, 226, 0.554);
}

#card2 #com {
    padding: 15px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    font-size: 18px;
}

#card2 #c1 h5 {
    margin-left: -110px;
    font-size: 16px;
    font-weight: 600;
}

#card2 #c1 p {
    margin-left: -110px;
    font-size: 14px;
    opacity: 0.5;
}

#card2 #c2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: -60px;
    padding: 10px;
    width: 100%;
    height: 23%;
    border: 1px solid #dadada;
    border-radius: 10px;
}

#card2 #c2 i {
    padding: 15px;
    color: blue;
    border: 1px solid;
    border-radius: 10px;
    font-size: 18px;
}

#card2 #c2 h5 {
    margin-left: 30px;
    font-size: 16px;
    font-weight: 600;
}

#card2 #c2 p {
    margin-left: 30px;
    font-size: 14px;
    opacity: 0.5;
}


#lh1 {
    position: absolute;
    margin-top: 5%;
    margin-left: -120%;
    display: flex;
    gap: 20px;
    letter-spacing: 5px;
}

#lh1 h4 {
    color: blue;
    font-size: 20px;
}

#lh1 h5 {
    opacity: 0.7;
    font-weight: 600;
}

#d {
    display: flex;
    background-color: white;
    border-radius: 10px;
    gap: 30px;
    box-shadow: 5px 5px 10px black;
    margin-left: -25%;
    margin-top: 75%;
}

#d #d1 img {
    height: 30px;
    filter: saturate(2.5);
    align-items: center;

}

#d .cd {
    padding: 17px 70px 17px 20px;
    border-radius: 10px;
    display: flex;
    gap: 15px;
}

#d .cd i {
    color: blue;
    font-size: 17px;
}

#d .cd h5 {
    font-size: 14px;
    color: black;
    font-weight: 600;
}

#d .cd p {
    font-size: 12px;
    opacity: 0.7;
}

#d #d1 {
    margin: 5px;
    background-color: rgba(211, 237, 211, 0.802);
}

#d #d1 i {
    width: 20px;
    border-radius: 50%;
    color: white;
}

#d #d2 {
    margin: 5px;
}

#d #d3 {
    margin: 5px;
}



#ld {
    position: absolute;
    bottom: 50%;
    left: -120%;
    background-color: white;
}

#ld img {
    height: 80px;
    filter: saturate(10);
}

#ld h1 {
    font-size: 56px;
    font-weight: 600;
}

#ld h5 {
    font-size: 22px;
}

#ld #para {
    margin-top: 25px;
    opacity: 0.6;
}



#footer {
    position: absolute;
    align-items: center;
    left: -110%;
    display: flex;
    justify-content: space-around;
    width: 1200px;
    background-color: white;
    border-radius: 10px;
    margin: 4% 10%;
    box-shadow: 5px 5px 15px black;
}

#footer .f {
    padding: 3%;
}

#footer .f h5 {
    color: blue;
    font-size: 12px;
    font-weight: 700;
}

#footer .f h1 {
    font-size: 25px;
}

#footer .f h6 {
    font-size: 12px;
    opacity: 0.8;
}

#footer h2 {
    font-size: 30px;
    color: blue;
}





#main #page1 {
    height: 90%;
    width: 100%;
    position: absolute;
    background-color: #fff;
}

#main #page1 #circle {
    height: 55vh;
    width: 55vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 3px solid rgba(100, 99, 99, 0.5);
}

#main #page1 #circle #chotacircle {
    height: 20vh;
    width: 20vh;
    background-color: rgba(0, 0, 255, 0.125);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#page1 #circle p {
    font-size: 30px;
    margin-left: -7%;
    text-align: center;
    font-weight: 400;
    margin-top: 40%;
    width: 115%;
}

#page1 #circle h3 {
    color: blue;
    font-size: 25px;
    margin-left: 37%;
    margin-top: 30px;
}

#page1 #circle #l {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.772);
    margin-top: -0.5%;
}

#page1 #circle #anime {
    width: 100%;
    height: 2%;
    position: absolute;
    top: 50%;
    animation: rotate 10s linear infinite;
    transform: translate(-50%, -50%);
}

#page1 #circle #anime #ball {
    height: 2.5vh;
    width: 2.5vh;
    background-color: blue;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
#main #page1 #circle1{
    height: 55vh;
    width: 55vh;
    position: absolute;
    top: 50%;
    left: 105%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 3px solid rgba(100, 99, 99, 0.724);
}
#page1 #head{
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-30%,-50%) rotate(90deg);
    gap: 15px;
    font-weight: 700;
    color: rgba(77, 76, 76, 0.75);
    letter-spacing: 2px;
    transform: rotate(90deg);
}
#page1 #head h1{
    color: blue;
}



#page2{
    height: 65%;
    width: 100%;
    display: flex;
}
#page2 #left{
    height: 100%;
    width: 35%;
}
#page2 #left{
    font-size: 18px;
    color: black;
    padding: 10%;
    align-items: center;
    justify-content: center;
}
#page2 #left h6{
    margin-top: 20px;
    font-size: 14px; 
}
#page2 #left #h6{
    margin-top: -1px;
    font-weight: 600;
}
#page2 #left h5{
    margin-top: 20px;
    color: blue;
}
#page2 #right{
    height: 100%;
    width: 65%;
}
#page2 #right #upper{
    display: flex;
    gap: 3px;
}
#page2 #right #upper .u{
    height: 30%;
    position: absolute;
    width: 15%;
    background-color: aqua;
}